body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url("img/table.jpg");
    background-size: cover;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none; /* Optional: Makes the button look cleaner */
    cursor: pointer; /* Optional: Adds a pointer cursor on hover */
    border-radius: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
}
